[Unit]
Description=FOSDEM Mixer API
After=network-online.target oscproxy.service
Wants=network-online.target
Requires=oscproxy.service
ConditionPathExists=/etc/mixerapi.conf

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/mixerapi
ProtectSystem=yes
ProtectHome=yes
NoNewPrivileges=yes
PrivateTmp=yes
Restart=always

[Install]
WantedBy=multi-user.target
