#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME=osc

%:
	dh $@ --buildsystem=pybuild --with=python3

override_dh_systemd_enable:
    dh_systemd_enable --name=oscproxy

override_dh_installinit:
    dh_installinit --name=oscproxy
